@using OnlineSatisProje.Core.Entities
@{
    ViewBag.Title = "Anasayfa";
    var urunListe = (IEnumerable<Urun>) ViewData["UrunListe"];
    urunListe = urunListe.OrderByDescending(x => x.Id).Take(3);
}

@{
    var uruns = urunListe as IList<Urun> ?? urunListe.ToList();
}
@if (uruns.Any())
{
    <div class="card-group">
        @foreach (var urun in uruns)
        {
            <div class="card m-3 text-center">
                @{
                    var urunresim = urun.UrunResimMapping.FirstOrDefault();
                }
                @if (null != urunresim)
                {
                    <a href="@Url.Action("Detay", "Urun", new {area = "", id = urun.Id})">
                        <img class="card-img-top" height="180" style="width: 100%;" src="data:image;base64, @Convert.ToBase64String(urunresim.Resim.ResimBinary)"
                             alt="Card image cap">
                    </a>
                }
                else
                {
                    <img class="card-img-top" height="180" style="width: 100%;" src="/Content/Images/product.png"
                         alt="Card image cap">
                }

                <div class="card-block">

                    <h4 class="card-title">
                        @urun.Baslik
                    </h4>
                    <p class="card-text">@urun.KisaAciklama</p>
                    <p class="card-text">

                        <small class="text-muted">@urun.Satici.Ad</small>
                    </p>
                </div>
            </div>
        }
    </div>
}