@using OnlineSatisProje.Core.Entities
@model IEnumerable<OnlineSatisProje.Core.Entities.KullaniciAdresMapping>

@{
    ViewBag.Title = "Adreslerim";
}

<h1 class="display-4">Adreslerim</h1>
<hr/>
<div class="col-12">
    <button class="btn btn-secondary" data-target="#adreseklemodal" data-toggle="modal"><i class="fa fa-plus-square-o"></i> Adres ekle</button>
</div>
<hr class="bg-danger"/>

@if (!Model.Any())
{
    <h1 class="display-4 text-center" style="margin-bottom: 50px; margin-top: 50px;">Adres bulunamadı</h1>
}
else
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <h4 class="text-center">@item.Adres.Baslik</h4>
                <p>@item.Adres.Adres1</p>
                <p>@item.Adres.Telefon</p>
            </div>
        }
    </div>
}

@Html.Partial("_PartialAdresEkle", new Adres())

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#sehirler").on("change",
                function() {
                    var id = $(this).val();
                    $.ajax({
                        url: '@Url.Action("Ilceler", "Hesabim")',
                        type: 'GET',
                        dataType: 'JSON',
                        contentType: "application/json; charset=utf-8",
                        data: { id: id },
                        success: function(data) {
                            var ilceddl = $("#IlceId");
                            if (ilceddl) {
                                ilceddl.empty();
                                $.each(data,
                                    function(i, d) {
                                        var opt = $("<option>").val(d["id"]).text(d["ad"]);
                                        ilceddl.append(opt);
                                    });
                            }
                        },
                        error: function(msg) {
                            console.error(msg);
                        }
                    });
                });
        });
    </script>
}