@model OnlineSatisProje.Web.Areas.Satici.Models.IndirimModel
@{
    ViewBag.Title = "Indirim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Indirim", "Urun", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="form-group row">
        @Html.LabelFor(x => x.Baslik, new { @class = "col-2 col-form-label text-right" })
        <div class="col-10">
            @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-10 offset-2">
            <label class="custom-control custom-checkbox">
                @Html.CheckBoxFor(x => x.YuzdeKullan, new { @class = "custom-control-input" })
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">@Html.DisplayNameFor(x => x.YuzdeKullan)</span>
            </label>
        </div>
    </div>

    <div class="form-group row" style="display:none">
        @Html.LabelFor(x => x.IndirimYuzdesi, new { @class = "col-2 col-form-label text-right" })
        <div class="col-10">
            @Html.TextBoxFor(x => x.IndirimYuzdesi, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(x => x.IndirimMiktari, new { @class = "col-2 col-form-label text-right" })
        <div class="col-10">
            @Html.TextBoxFor(x => x.IndirimMiktari, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(x => x.BaslangicTarihi, new { @class = "col-2 col-form-label text-right" })
        <div class="col-10">
            @Html.TextBoxFor(x => x.BaslangicTarihi, new { @class = "form-control", type = "date", value=DateTime.Now.Date.ToString("d") })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(x => x.BitisTarihi, new { @class = "col-2 col-form-label text-right" })
        <div class="col-10">
            @Html.TextBoxFor(x => x.BitisTarihi, new { @class = "form-control", type = "date" })
        </div>
    </div>
}