@using OnlineSatisProje.Core.Entities
@model UrunResimMapping
@{
    ViewBag.Title = "Resimler";
    var resimListe = (IEnumerable<UrunResimMapping>)ViewData["ResimListe"];
}

@using (Html.BeginForm("Resimler", "Urun", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.UrunId)
    <div class="form-group row">
        <div class="col-11">
            <label class="custom-file col-12">
                <input type="file" id="file" class="custom-file-input" name="upload" accept=".jpg, .png, .jpeg, .bmp, ">
                <span class="custom-file-control"></span>
            </label>
            <br />
            <p class="text-muted" id="dosyaAdi" style="display: none;"></p>
        </div>
        <div class="col-1">
            <button class="btn btn-secondary" type="submit"><i class="fa fa-upload"></i> Yükle</button>
        </div>
    </div>
}

@if (resimListe != null)
{
    var urunResimMappings = resimListe as IList<UrunResimMapping> ?? resimListe.ToList();
    if (urunResimMappings.Any())
    {
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th class="text-center">Resim</th>
                    <th>Başlık</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- ÜRÜNE AİT RESİMLERİ LİSTELE -->
                @foreach (var resim in urunResimMappings)
                {
                    <tr>
                        <th class="text-center">
                            <img src="data:image;base64, @Convert.ToBase64String(resim.Resim.ResimBinary)" class="img-thumbnail rounded" title="" alt="" width="291" height="285" />
                        </th>
                        <th>@resim.Resim.Baslik</th>
                        <th>
                            @using (Html.BeginForm("ResimSil", "Urun", FormMethod.Post))
                        {
                                <button type="submit" class="btn btn-outline-danger btn-block"><i class="fa fa-trash-o"></i> Sil</button>
                            }
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1 class="display-4 text-center" style="margin-bottom: 50px; margin-top: 50px;">Resim bulunamadı</h1>
    }
}
else
{
    <h1 class="display-4 text-center" style="margin-bottom: 50px; margin-top: 50px;">Resim bulunamadı</h1>
}