<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Dashboard</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/style")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .nav-link {
            -moz-transition: 0.5ms all ease-in-out;
            -o-transition: 0.5ms all ease-in-out;
            -webkit-transition: 0.5ms all ease-in-out;
            color: rgba(0, 0, 0, 0.7) !important;
            transition: 0.5ms all ease-in-out;
        }

        .nav-link:hover { color: black; }
    </style>
</head>
<body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded mb-3">
    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbaricerik"
            aria-controls="navbaricerik" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container">
        <a class="navbar-brand" href="#">Admin</a>

        <div class="collapse navbar-collapse" id="navbaricerik">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home", new {area = "Admin"})"><i class="fa fa-home"></i> Anasayfa <span class="sr-only">(şuanki)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home", new {area = ""})" class="nav-link" target="_blank"><i class="fa fa-external-link"></i> Web Sitesini Aç</a>
                </li>
                <li class="nav-item pl-2" style="border-left: 1px solid #ccc">
                    <span class="navbar-text">
                        <i class="fa fa-user-o"></i> @User.Identity.Name
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <nav class="col-sm-3 col-md-2" style="border-right: 1px solid #ccc">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Kullanici", new {Area = "Admin"})"><i class="fa fa-users mr-1"></i> Kullanıcılar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Kategori", new {Area = "Admin"})"><i class="fa fa-list mr-1"></i> Kategoriler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Etiket", new {Area = "Admin"})"><i class="fa fa-tags mr-1"></i> Etiketler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Sehir", new {Area = "Admin"})"><i class="fa fa-globe mr-1"></i> Şehirler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Ilce", new {Area = "Admin"})"><i class="fa fa-map-marker mr-1"></i> İlçeler</a>
                </li>
            </ul>
        </nav>
        <div class="col-sm-9 col-md-10">
            @RenderBody()
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>