@{
    ViewBag.Title = "Admin";
}

<h1 class="display-4">Dashboard</h1>
<hr/>

<div class="row text-center">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Toplam Ürün</h4>
                <p class="card-text">@ViewData["TotalProduct"].ToString()</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Toplam Kullanıcı</h4>
                <p class="card-text">@ViewData["TotalUser"].ToString()</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Toplam Satıcı</h4>
                <p class="card-text">@ViewData["TotalSatici"].ToString()</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Toplam Kategori</h4>
                <p class="card-text">@ViewData["TotalCategory"].ToString()</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Toplam Etiket</h4>
                <p class="card-text">@ViewData["TotalTag"].ToString()</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Toplam Resim</h4>
                <p class="card-text">@ViewData["TotalPicture"].ToString()</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Toplam Sipariş</h4>
                <p class="card-text">@ViewData["TotalOrder"].ToString()</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Toplam Adres</h4>
                <p class="card-text">@ViewData["TotalAddress"].ToString()</p>
            </div>
        </div>
    </div>
</div>