@model OnlineSatisProje.Web.Areas.Admin.Models.KullaniciRolModel
@{
    ViewBag.Title = "RolEkle";
}

<h2>RolEkle</h2>
<hr />

@using (Html.BeginForm("RolEKle", "Kullanici", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RolId, new { @class = "col-md-2 control-label" })
        <div class="col-10">
            @Html.DropDownListFor(x => x.RolId, (SelectList)ViewBag.Roller, "Seç")
            @Html.ValidationMessageFor(m => m.RolId, "", new { @class = "text-danger" })
        </div>
    </div>

    <button class="btn btn-primary" type="submit"><i class="fa fa-plus-square-o"></i> Ekle</button>
}