@model OnlineSatisProje.Web.Areas.Satici.Models.SiparisModel

<div class="modal fade modal-lg" id="siparisduzenlemodal-@Model.SiparisId" style="margin: 0 auto" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Sipariş düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("SiparisDuzenle", "Siparis", FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.SiparisId)
                    <div class="row">
                        <div class="col-4 text-right">
                            <strong>
                                @Html.LabelFor(x => x.SiparisDurumId, new { @class = "text-uppercase text-right" })
                            </strong>
                        </div>
                        <div class="col-8 text-muted text-uppercase">
                            @Html.DropDownListFor(x => x.SiparisDurumId, (IList<SelectListItem>)ViewBag.SiparisDurumList, new { @class = "custom-select col-12" })
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-4 text-right">
                            <strong>
                                @Html.LabelFor(x => x.OdemeDurumId, new { @class = "text-uppercase text-right" })
                            </strong>
                        </div>
                        <div class="col-8 text-muted text-uppercase">
                            @Html.DropDownListFor(x => x.OdemeDurumId, (IList<SelectListItem>)ViewBag.OdemeDurumList, new { @class = "custom-select col-12" })
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-4 text-right">
                            <strong>
                                @Html.LabelFor(x => x.KargoDurumId, new { @class = "text-uppercase text-right" })
                            </strong>
                        </div>
                        <div class="col-8 text-muted text-uppercase">
                            @Html.DropDownListFor(x => x.KargoDurumId, (IList<SelectListItem>)ViewBag.KargoDurumList, new { @class = "custom-select col-12" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-danger">Kaydet</button>
                </div>
            }
        </div>
    </div>
</div>