@using OnlineSatisProje.Web.Areas.Satici.Models
@model IEnumerable<OnlineSatisProje.Core.Entities.SiparisItem>
@{
    ViewBag.Title = "Siparişler";
}
<h1 class="display-4">Siparişler (@Model.Count())</h1>
<hr/>
<p>@ViewBag.HataMesaj</p>

@if (Model.Any())
{
    <table class="table">
        <thead class="thead-default">
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.UrunId)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Miktar)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Fiyat)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            var fiyat = item.Fiyat * item.Miktar;
            <tr>
                <th>@item.Urun.Baslik</th>
                <th>@item.Miktar</th>
                <th>@fiyat.ToString("C")</th>
                <th class="text-center">
                    <button class="btn btn-secondary btn-sm" data-target="#kullanicidetaymodal-@item.Siparis.KullaniciId" data-toggle="modal"><i class="fa fa-user"></i> Müşteri detayı</button>
                    <button class="btn btn-secondary btn-sm" data-target="#siparisduzenlemodal-@item.SiparisId" data-toggle="modal"><i class="fa fa-pencil"></i> Düzenle</button>
                    @if (item.Siparis.Aktif)
                    {
                        using (Html.BeginForm("SiparisTamamlandi", "Siparis", FormMethod.Post, new {style = "display:inline-block;"}))
                        {
                            @Html.Hidden("id", item.SiparisId)
                            <button id="buttontamamlandi" type="submit" class="btn btn-secondary btn-sm"><i class="fa fa-check"></i> Sipariş tamamlandı</button>
                        }
                    }
                </th>
                @Html.Partial("_PartialSiparisDuzenle", new SiparisModel
                {
                    KargoDurumId = item.Siparis.KargoDurumId,
                    OdemeDurumId = item.Siparis.OdemeDurumId,
                    SiparisDurumId = item.Siparis.SiparisDurumId,
                    SiparisId = item.SiparisId
                })
                @Html.Partial("_PartialSiparisKullanici", item)
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h1 class="display-4 text-center" style="margin-top: 20px;">Siparişiniz bulunmamaktadır</h1>
}