@using OnlineSatisProje.Web.Areas.Admin.Models
@model IEnumerable<OnlineSatisProje.Core.Entities.Kategori>
@{
    ViewBag.Title = "Kategoriler";
    var i = 1;
    var modalId = "kategoriEkleModal";
}

<h1 class="display-4">Kategoriler</h1>
<hr />
<div class="col-12">
    <button href="#" id="buttonKategoriEkle" class="btn btn-secondary" data-toggle="modal" data-target="#@modalId"><i class="fa fa-plus-square-o"></i> Kategori ekle</button>
</div>
<hr />

@if (Model.Count() > 0)
{
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>#</th>
                <th>Kategori</th>
                <th>Aktif</th>
                <th>Oluşturma Tarihi</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <th>@i</th>
                <th>@Html.Display(item.Ad)</th>
                <th class="text-center">
                    @if (item.Aktif)
                    {
                    <i class="fa fa-check"></i>
                        }
                        else
                        {
                    <i class="fa fa-times"></i>
                        }
                </th>
                <th>@Html.Display(item.CreatedDate.ToLongDateString())</th>
                <td class="text-center">
                    @*<a href="@Url.Action("ResimEkle", "Urun", new { urunId = item.Id })" class="btn btn-outline-danger"><i class="fa fa-plus-square-o "></i> Resim ekle</a>*@
                    @*<a href="@Url.Action("OzellikEkle", "Urun")" class="btn btn-outline-primary"><i class="fa fa-plus-square-o "></i> Özellik ekle</a>*@
                </td>
            </tr>
                i++;
            }
        </tbody>
    </table>
}
else
{
    <h1 class="display-4 text-center" style="margin-top:20px;">Kategori bulunamadı</h1>
}

@Html.Partial("_PartialKategoriEkle", new KategoriModel(modalId))