@model OnlineSatisProje.Web.Models.SaticiViewModel

@{
    ViewBag.Title = Model.Satici.Ad;
}

<div class="row">
    <div class="col-md-3 col-sm-12 text-center" style="border-right: 1px solid #ccc">
        @if (Model.SaticiResim != null)
        {
            <img id="imgsaticiresim" src="@Model.SaticiResim.ResimPath" style="height: 218px; width: 218px;" class="rounded-circle img-thumbnail" alt=""/>
        }
        else
        {
            <img id="imgsaticiresim" src="@Url.Content("~/Content/Images/identity.png")" style="height: 218px; width: 218px;" class="rounded-circle img-thumbnail" alt=""/>
        }
    </div>
    <div class="col-md-8 col-sm-12">
        <h1 class="display-4">@Model.Satici.Ad</h1>
        <hr class="bg-danger" style="margin: 2rem 0"/>
        <p class="text-muted">
            <i class="fa fa-align-justify"></i> @Model.Satici.Aciklama</p>
        <p class="text-muted">
            <i class="fa fa-envelope-o"></i> @Model.Satici.Email</p>
        @if (Model.Satici.SaticiEtiketMapping.Any())
        {
            <p>
                <i class="fa fa-tags"></i>
                @foreach (var etiket in Model.Satici.SaticiEtiketMapping.OrderBy(e => e.Etiket.Ad))
                {
                    <a href="#" class="btn btn-sm btn-outline-danger">@etiket.Etiket.Ad</a>
                }
            </p>
        }
        <a href="@Url.Action("Urunler", "Urun", new {saticiId = Model.Satici.Id})" class="text-muted"><i class="fa fa-list"></i> Satıcıya ait ürünleri listele</a>
    </div>
    @if (Model.Satici.SaticiMekanMapping.Any())
    {
        <div class="col-md-12">
            <h1 class="display-4">Mekanlar</h1>
            <hr/>
            <div class="card-deck">
                @foreach (var mekan in Model.Satici.SaticiMekanMapping.OrderBy(x => x.Adres.Baslik))
                {
                    <div class="card card-outline-danger text-center">
                        <div class="card-block">
                            <h4 class="card-title text-uppercase">@mekan.Adres.Baslik</h4>
                            <p class="card-text text-muted">
                                @mekan.Aciklama
                            </p>
                            <hr class="bg-danger"/>
                            <p class="card-text">
                                <i class="fa fa-map-marker"></i> @mekan.Adres.Ilce.Sehir.Ad
                            </p>
                            <p class="card-text">
                                <i class="fa fa-map-o"></i> @mekan.Adres.Ilce.Ad
                            </p>
                            <p class="card-text">
                                <i class="fa fa-phone"></i> @mekan.Adres.Telefon
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>